button {
    background: linear-gradient(45deg, #ff5e6c, #ff3b4f);
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: buttonAnimation 3s infinite alternate;
}

button:hover {
    background: linear-gradient(45deg, #ff3b4f, #ff5e6c);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@keyframes buttonAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}