body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image: url('https://mrwallpaper.com/images/hd/cute-pc-background-idea-ec9bc16g92po0iac.jpg');
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 1.5%;
    width: 60%;

    height: 50%;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    overflow: hidden;

}

.container:hover {
    transform: scale(1.02);
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    height: 75%;

}

.visible {
    display: block;
    opacity: 1;
}