.truck-container {
    position: relative;
    animation: drive 10s linear infinite;

}

.box {
    width: 200px;

    height: 100px;

    background: #d78a8a;
    position: relative;
    border-radius: 5px;
}

.tyre {
    position: absolute;
    width: 40px;

    height: 40px;

    background: #333;
    border-radius: 50%;
}

.tyre1 {
    bottom: -20px;

    left: 20px;

}

.tyre2 {
    bottom: -20px;

    right: 20px;

}

.tyre3 {
    bottom: -20px;

    left: 60px;

}

.tyre4 {
    bottom: -20px;

    right: 60px;

}

@keyframes drive {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}